#container {
	width: 920px;
	margin: auto;
}

#cabecalho {
	margin-bottom: 20px;
}

.formAdicionaProjeto {
	margin-bottom: 20px;
}

.fonteNegrito {
	font-weight: bold;
}

.semborda div {
	border: none;
}