.container {
	width: 920px;
	margin: auto;
}

.lados {
	width:15%;
	background-color: #c0c0c0;
}

#cabecalho {
	margin-bottom: 20px;
}

#formPesquisa {
	margin-bottom: 20px;
}

.ui-panelgrid-cell {
	border-style: none;
}